
@{
    Layout = null;
}



<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>4 0 4 - Error!</title>
    <!-- My Error Css -->
    <link rel="stylesheet" href="~/assets/css/error.css">
    <!--    Bootstrap Icon CSS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

</head>
<body>

    <div id="loadertop"></div>

    <div id="error-page">
        <div class="content">
            <h2 class="header" data-text="404">
                404
            </h2>
            <h4 data-text="Xəta baş verdi !">
                Xəta baş verdi !
            </h4>
            <p>
                <i style="color: red;" class="bi bi-exclamation-circle-fill"></i> Sizin sorğunuzun emalı zamanı gözlənilməz xəta baş verdi.
            </p>
            <div class="btns">
                <a asp-controller="Home" asp-action="Index">Əsas səhifə</a>
                <a asp-controller="Error" asp-action="Report">Bildir</a>
            </div>
        </div>
    </div>

    <script src="~/assets/js/error.js"></script>

</body>
</html>