
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Şifrəniz yeniləndi</title>
    <link rel="icon" type="image/x-icon" href="~/assets/img/images/tognetlogonobg.svg">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
</head>
<body style="background-color: #f4f4f4; margin: 0 !important; padding: 0 !important;">
    <div style="display: none; font-size: 1px; color: #fefefe; line-height: 1px; font-family: 'Montserrat'Helvetica, Arial, sans-serif; max-height: 0px; max-width: 0px; opacity: 0; overflow: hidden;"> ToG Net-dən bildiriş!</div>
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <!-- LOGO -->
        <tr>
            <td bgcolor="#f4f4f4" align="center">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;">
                    <tr>
                        <td align="center" valign="top" style="padding: 40px 10px 40px 10px;"> </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td bgcolor="#f4f4f4" align="center" style="padding: 0px 10px 0px 10px;">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;">
                    <tr style="border-top-left-radius: 14px; border-top-right-radius: 14px; background: linear-gradient(to right, #3c97bf, #00bfd8);">
                        <td align="center" valign="top" style="padding: 40px 20px 20px 20px; border-radius: 2px 2px 0px 0px; color: white; font-family: 'Londrina Solid'Helvetica, Arial, sans-serif; font-size: 45px; font-weight: 700; letter-spacing: 2px; line-height: 48px;">
                            <h1 style="font-size: 40px; font-weight:700; margin: w-50;">Şifrəniz yeniləndi!</h1>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td bgcolor="#f4f4f4" align="center" style="padding: 0px 10px 0px 10px;">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;">
                    <tr style="background: linear-gradient(to right, #3c97bf, #00bfd8);">
                        <td align="center" style="padding: 20px 30px 40px 30px; color: white; font-family:'Montserrat bold' Helvetica, Arial, sans-serif; font-size: 22px; font-weight:600; line-height: 25px;">
                            <p>

                                @if (User.Identity.IsAuthenticated)
                                {
                                    <h4 data-text="Hörmətli: @User.Identity.Name ! Şifrəniz yeniləndi.">
                                        Hörmətli: @User.Identity.Name ! Şifrəniz yeniləndi.
                                    </h4>
                                <p>
                                    <i style="color: green;" class="bi bi-check2-circle"></i> Yeni şifrənizi unutmayın !
                                </p>
                        <tr style="background: linear-gradient(to right, #3c97bf, #00bfd8);">
                            <td align="center" style="padding: 20px 30px 40px 30px; color: white; font-family:'Montserrat bold' Helvetica, Arial, sans-serif; font-size: 22px; font-weight:600; line-height: 25px;">
                                <a asp-controller="Home" asp-action="Index" style="text-decoration: none;border-radius: 20px;border: 1px solid white;background-color: transparent;color: #FFFFFF;font-size: 18px;font-weight: bold;padding: 12px 45px;letter-spacing: 1px;text-transform: uppercase;transition: transform 80ms ease-in;">Əsas Səhifə</a>
                            </td>
                        </tr>

                    }
                    else
                    {
                        <h4 data-text="Şifrəniz yeniləndi.">
                            Şifrəniz yeniləndi.
                        </h4>
                        <p>
                            <i style="color: green;" class="bi bi-check2-circle"></i> Yeni şifrəniz ilə hesabınıza daxil olun!
                        </p>
                        <tr style="background: linear-gradient(to right, #3c97bf, #00bfd8);">
                            <td align="center" style="padding: 20px 30px 40px 30px; color: white; font-family:'Montserrat bold' Helvetica, Arial, sans-serif; font-size: 22px; font-weight:600; line-height: 25px;">
                                <a asp-controller="Account" asp-action="Login" style="text-decoration: none;border-radius: 20px;border: 1px solid white;background-color: transparent;color: #FFFFFF;font-size: 18px;font-weight: bold;padding: 12px 45px;letter-spacing: 1px;text-transform: uppercase;transition: transform 80ms ease-in;">Daxil ol</a>
                            </td>
                        </tr>

                    }


                                </p>
                        </td>
                    </tr>

                    <tr style="background: linear-gradient(to right, #3c97bf, #00bfd8);">
                        <td align="left">
                        </td>
                    </tr>
                    <tr style="background: linear-gradient(to right, #3c97bf, #00bfd8);">
                        <td align="center" style="padding: 0px 30px 20px 30px; color: white; font-family:'Montserrat'Helvetica, Arial, sans-serif; font-size: 14px; font-weight: 400; line-height: 25px;">
                            <p style="margin: 0;">Diqqətiniz üçün təşəkkürlər!</p>
                        </td>
                    </tr>
                    <tr style="border-bottom-left-radius: 14px; border-bottom-right-radius: 14px; background: linear-gradient(to right, #3c97bf, #00bfd8);">
                        <td align="center" style="padding: 0px 30px 40px 30px; border-radius: 0px 0px 4px 4px; color: white; font-family:'Montserrat'Helvetica, Arial, sans-serif; font-size: 14px; font-weight: 400; line-height: 25px;">
                            <p style="margin: 0;">
                                Əlaqə üçün:
                                <a href="#" target="_blank" style="color: #000000;">tognet.helper@gmail.com</a>
                            </p>
                        </td>
                    </tr>
                </table>
                </td>
                </tr>
                <tr>
                    <td bgcolor="#f4f4f4" align="center" style="padding: 0px 10px 0px 10px;">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;">
                            <tr>
                                <td bgcolor="#f4f4f4" align="center" style="padding: 0px 30px 30px 30px; color: #666666; font-family: 'Lato', Helvetica, Arial, sans-serif; font-size: 14px; font-weight: 400; line-height: 18px;">
                                    <br>
                                    <p style="margin: ;"><a href="#" target="_blank" style="color: #111111; font-weight: 700;"</p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                </table>
            </body>
        </html>
