<!DOCTYPE html>
<html lang="en-GB">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>

    <link rel="icon" type="image/x-icon" href="~/assets/img/images/tognetlogonobg.svg">


    <link rel="stylesheet" href="https://kit.fontawesome.com/eb23b2d8dd.css" crossorigin="anonymous">
</head>
<body>
    @RenderBody()







    <script src="https://kit.fontawesome.com/eb23b2d8dd.js" crossorigin="anonymous"></script>
</body>
</html>